{% extends 'base.html' %}
{% block title %} Stupid Twitter/Feedback
{% endblock %}

{% block content %}
<h1>Viewing Feedback</h1>

<form method="POST">
    {{form2.hidden_tag()}}
    {% for field in form 
       if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field(class_="form-control")}}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {% endfor %}
    </p>
    {% endfor %}
    <button class="btn btn-success" type="submit" action="/users/{{user.id}}/feedback/add">Post Feedback</button>
</form>

<div>{% for feedb in feedback %}
    <div>
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title text-info">{{feedback.user.username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Date goes here</h6>
                <p class="card-text">{{feedback.text}}</p>
                {% if session['user_id'] == feedback.user_id%}
                <form style="display: inline;" action="/tweets/{{tweet.id}}" method="POST">
                    <button class="btn btn-sm btn-danger">
                        X
                    </button></form> {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}</div>

{% endblock %}